{% if page.layout == "single-bib-item" %}


{% capture formatted_string %}
<p style="font-size: 1.2em;">{% if page.journal %}<i>{{ page.journal }}</i>{% endif %}{% if page.published_date %} ({% include bib/formatted-date-block.html separator="" %}){% endif %}</p>
{% endcapture %}
{{ formatted_string | strip_newlines }}


{% else %}


{% capture cite %}
{% include bib/formatted-auth-block.html separator="" %}
{% include bib/formatted-title.html separator=" " %}
{% if item.journal %},<i> {{ item.journal }}</i>{% endif %}
{% include bib/formatted-vpn-block.html separator=", " %}
{% include bib/formatted-doi-url.html separator=", " %}.
{% endcapture %}

{{ cite | strip_newlines }}


{% endif %}
